*{
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Merriweather', serif;
}

body{
   position: relative;
   overflow: hidden;
   background-color: rgb(85, 28, 28);
   /* background-image: url(bgImg.jpeg); */
}

header > .nav-bar{
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
    background-color: rgba(0, 0, 0, 0.24);
}

.nav-bar > .left-nav-bar{
    display: flex;
    gap: 20px;
    padding-left: 20px;
    align-items: center;
}

.left-nav-bar > .heading-txt{
    font-size: 20px;
}

.nav-bar > .left-nav-bar > *{
    cursor: pointer;
}

.left-nav-bar > .board-btn{
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 6px 10px;
    background-color: white;
    border-radius: 8px;
}

.board-btn > *{
    color: black;
}

.nav-bar > .right-nav-bar{
    display: flex;
    gap: 20px;
    padding-right: 20px;
    align-items: center;
}

.nav-bar > .right-nav-bar > *{
    cursor: pointer;
}

.right-nav-bar > .filter-btn{
    display: flex;
    align-items: center;
    gap: 5px;
}

.right-nav-bar > .share-btn{
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 6px 10px;
    background-color: white;
    border-radius: 8px;
}

.share-btn > *{
    color: black;
}

.right-nav-bar > .logout-btn{
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 6px 10px;
    background-color: white;
    border-radius: 8px;
}

.logout-btn > *{
    color: black;
}

main > .task-container{
    position: relative;
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

main .material-symbols-outlined{
    cursor: pointer;
}

.task-container > *{
    position: relative;
    width: 25vw;
    max-height: 80vh;
    background-color: rgb(20, 20, 20);
    padding: 0 12px;
    border-radius: 10px;

}

.task-container .heading-container{
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    width: 25%;
    z-index: 9;
    padding: 10px 0px;
    padding-top: 22px;
    background-color: rgb(20, 20, 20);
}

.task-container .card-container{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    max-height: 50vh;
    padding-right: 10px;
    overflow-y: scroll;
}

.task-container .card-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(47, 47, 47);
    padding:10px;
    border-radius: 10px;
    width: 90%;
    align-self: center;
    margin: 7px 0px;
    cursor: pointer;
    transition: 0.2s;
}

.add-card-container{
    margin: 12px 0px;
}

.task-container .card-details:hover{
    transform: scale(1.03);
}

.task-container .add-a-card-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 5px 0px;
    cursor: pointer;
}

.task-container .add-a-card-btn:hover{
    background-color: rgb(54, 58, 56);
}

.task-container .heading-container > .heading-name{
    font-weight: 600;
}

.card-title-container{
    display: none;
}

.card-title{
    width: 98%;
    height: 60px;
    background-color: rgb(47, 47, 47);
    outline: none;
    border-radius: 10px;
    margin-top: 10px;
    padding: 5px;
}

.card-title-container > .add-rmv-container{
    display: flex;
    text-align: center;
    padding: 10px 0px;
}

.add-rmv-container .add-card-btn{
    padding: 10px;
    background-color: #579dff;
    border-radius: 10px;
    cursor: pointer;
}

.cancel-btn{
    align-self: center;
    padding: 5px;
}

main > .task-panel-background{
    position: fixed;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.773);
}

.task-panel-background > .task-panel{
    width: 500px;
    height: 300px;
    background-color: rgb(43, 43, 43);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    justify-content: center;
    align-items: center;
    z-index: 15;
}

.task-panel > .task-panel-title-cntr{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
}

.task-panel > .task-panel-description-cntr{
    display: flex;
    justify-content: center;
    column-gap: 5px;
}

.task-panel > .task-panel-save-and-cancel{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.task-panel .task-panel-title-heading{
    font-size: 18px;
}

.task-panel > .task-panel-title-cntr input{
    background-color: #22272b;
    outline: none;
    border: none;
    padding: 10px;
    border-radius: 5px;
    width: 200px;
    font-size: 13px;
}

.task-panel .task-panel-description-heading{
    font-size: 18px;
}

.task-panel > .task-panel-description-cntr textarea{
    background-color: #22272b;
    outline: none;
    border: none;
    padding: 10px;
    border-radius: 5px;
    width: 200px;
    height: 100px;
    font-size: 13px;
}

.task-panel-save-and-cancel .task-panel-save-btn{
    background-color: #22272b;
    padding: 10px 30px;
    border-radius: 10px;
    cursor: pointer;
}
.task-panel-save-and-cancel .task-panel-cancel-btn{
    background-color: #22272b;
    padding: 10px 30px;
    border-radius: 10px;
    cursor: pointer;
}

.task-panel-save-and-cancel .task-panel-delete-btn{
    background-color: #a71a2d;
    padding: 10px 30px;
    border-radius: 10px;
    cursor: pointer;
}